@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --s-bg-dark: 31 37 43;
    --s-bg-light: 53 59 70;
    --s-white: 255 255 255;
    --s-purple: 151 149 240;
    --s-pink: 251 200 213;
    --s-pink-halo: 246 157 252;
  }
}

.dark-gradient {
  background: linear-gradient(135deg, rgb(var(--s-bg-light) / 1) 0%, rgb(var(--s-bg-dark) / 1) 100%);
}

.outline-display-header:hover {
  -webkit-text-fill-color: rgb(var(--s-purple) / 1);
  -webkit-text-stroke-color: rgb(var(--s-purple) / 1);
}

.outline-display-title {
  -webkit-text-stroke: 0.05cap;
}

.shadow-display-text {
  text-shadow: 0.07cap 0.05cap 0px rgb(var(--s-purple) / 1);
}

.shadow-display-box {
  box-shadow: 0.15em 0.12em 0px rgb(var(--s-purple) / 1);
}

.shadow-display-svg {
  filter: drop-shadow(0.15em 0.12em 0px rgb(var(--s-purple) / 1));
}

.halo {
  box-shadow:
    0rem 0.3rem 0.05rem rgb(var(--s-pink) / 1),
    0rem 0.5rem 0.5rem rgb(var(--s-pink-halo) / 1);
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

select {
  appearance: none;
  -webkit-appearance: none;
  text-align-last: center;
}
